/*
 * HTML style
 */
 html{
  height: 100%;
 }
 body{
  background-color: #33115F; 
  min-height: 100%; 
  position: relative; 
  padding-bottom: 50px;
 }
/*
 * Modal style
 */
.modal-content-custom{
  background-color:#1A0831; 
  padding: 15px;
  border-radius: 0;
}
.modal-header-custom{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  min-height: 120px; 
  margin: 0; border: 0;
}
.modal-header-custom div{
  display: flex; 
  justify-content: center; 
  text-align: center;
}
.modal-header-custom div h1{
  text-align: end; 
  color: #21A179; 
  font-size: 22px;
}
.moodal-body-container{
  border-bottom:#FE3EE0 1px solid
}
.label-input{
  color:#FFF
}
.btn-confirm-modal{
  background-color: #21A179;
  color:#FFF; 
  border: none; 
  text-align: center; 
  border-radius: 6px; 
  padding: 12px 28px; 
  font-weight: bold; 
  width: 100%;
}